<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script
			src="https://cdn.socket.io/4.6.0/socket.io.min.js"
			integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
			crossorigin="anonymous"
		></script>
		<!-- Latest version of Tailwind CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css"
		/>

		<script src="/logic.js" defer type="module"></script>
	</head>
	<body class="w-screen h-screen text-white bg-purple-900">
		<div class="container mx-auto">
			<header class="font-bold text-xl text-center">Hey there</header>

			<!-- Form container -->
			<div
				id="stage1"
				class="flex flex-col items-center justify-center gap-4 w-full h-80"
			>
				<div>
					<label for="name">Name</label>
					<input
						id="name"
						type="text"
						name="name"
						placeholder="Enter your name"
						class="outline-none border border-blue-600 text-black rounded-md p-2"
					/>
				</div>
				<button
					id="btn1"
					class="middle none center block mx-auto rounded-lg bg-purple-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-purple-500/20 transition-all hover:shadow-lg hover:shadow-purple-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true"
				>
					Submit
				</button>
			</div>
			<!--  -->

			<!-- stage 2 container -->
			<section id="stage2" class="hidden">
				<h1 id="playerType"></h1>
				<h1 id="changeNo"></h1>
				<div
					id="actionBtncon"
					class="flex flex-col items-center justify-center gap-2 mb-6 w-full h-80"
				></div>
			</section>

			<!-- Question container -->
			<section id="stage3" class="hidden">
				<div
					class="flex flex-col items-center justify-center gap-4 w-full h-80"
				>
					<div class="w-72 flex justify-between">
						<label for="question">Question</label>
						<input
							id="question"
							type="text"
							name="question"
							placeholder="Enter a question"
							class="outline-none border border-blue-600 text-black rounded-md p-2"
						/>
					</div>
					<div class="w-72 flex justify-between">
						<label for="answer">Answer</label>
						<input
							id="answer"
							type="text"
							name="answer"
							placeholder="Enter a answer"
							class="outline-none border border-blue-600 text-black rounded-md p-2"
						/>
					</div>
					<button
						id="btn3"
						class="middle none center block mx-auto rounded-lg bg-purple-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-purple-500/20 transition-all hover:shadow-lg hover:shadow-purple-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
						data-ripple-light="true"
					>
						Submit
					</button>
				</div>
			</section>
		</div>
	</body>
</html>
